p {
    border: 1px solid tomato;
    margin: 20px;
    border-radius: 5px;
    padding: 8px;
    display: flex;
}
.pikachu {
    width: 200px;
    height: 200px;
}

.information {
    display: inline-block;
    font-family: Helvetica, serif;
    font-size: 18px;
    flex-wrap: wrap;
}

#pokeurl{
    text-decoration: none;
    color: black;
    cursor: pointer;
}