body {
  background-color: #EEE;
}

header {
  margin: 0 auto;
  background-color: rgb(76, 56, 167);
  
}


.title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  display: inline-block;
  padding: 10px;
}

.project {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  padding: 10px;
  float: right;
}

.github {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  padding: 10px;
  float: right;
}

.linkedin {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  padding: 10px;
  float: right;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: white;
}

.intro {
  padding: 25px
}

.about {
  font-size: 1.2rem;
  margin: 2px;
  font-weight: bold;
}

.school-name {
  font-weight: bold;
}

.education {
  font-size: 1.2rem;
  margin: 2px;
  font-weight: bold;
}

.time {
  float: right;
  display: inline-block;
}

.stacks {
  font-size: 1.2rem;
  margin: 2px;
  font-weight: bold;
}

.skills {
  font-weight: bold;
}
