.eachpokemon {
    width: 216px;
    height: 200px;
}

.pokemon-card {
    margin: 8px;
}

.pokemon-name {
    background-color: white;
    color: black;
    padding: 5px 8px;
    font-size: 20px;
    font-weight: bold;
}

